In [5]:
import pandas as pd

In [22]:
df_sym = pd.read_csv('csv/nasdaq.csv')
df_sym

     Symbol                                       Company Name
0      AAIT  iShares MSCI All Country Asia Information Tech...
1       AAL                        American Airlines Group Inc
2      AAME                      Atlantic American Corporation
3      AAOI                        Applied Optoelectronics Inc
4      AAON                                           AAON Inc
...     ...                                                ...
2963   ZNGA                                         Zynga Inc.
2964   ZSPH                                      ZS Pharma Inc
2965     ZU                                         zulily Inc
2966   ZUMZ                                        Zumiez Inc.
2967   SPCE               Virgin Galactic Holdings Inc Class A

[2968 rows x 2 columns]