### Imports

In [1]:
import praw
import pandas as pd
import datetime as dt

### Reddit Data

In [2]:
reddit = praw.Reddit(client_id='___',
                     client_secret='___',
                     username='___',
                     password='___',
                     user_agent='___')

In [3]:
subreddit = reddit.subreddit('wallstreetbets')

hot_wsb = subreddit.hot(limit=1000)

In [4]:
dict =  {"title":[],
         "subreddit":[],
         "score":[], 
         "id":[], 
         "url":[], 
         "comms_num": [], 
         "created": [], 
         "body":[]}

for submission in hot_wsb:
    dict["title"].append(submission.title)
    dict['subreddit'].append(submission.subreddit)
    dict["score"].append(submission.score)
    dict["id"].append(submission.id)
    dict["url"].append(submission.url)
    dict["comms_num"].append(submission.num_comments)
    dict["created"].append(submission.created)
    dict["body"].append(submission.selftext)

In [5]:
df = pd.DataFrame(dict)

In [6]:
df

,title,subreddit,score,id,url,comms_num,created,body
0,"Weekend Discussion Thread - February 14-16, 20...",wallstreetbets,189,f3yecl,https://www.reddit.com/r/wallstreetbets/commen...,9906,1.581742e+09,Welcome back to another edition of the Weekend...
1,How to spot a market bubble,wallstreetbets,7933,f4a5kp,https://www.reddit.com/r/wallstreetbets/commen...,1010,1.581806e+09,JFKs father famously sold off his positions wh...
2,Every company is a tech company,wallstreetbets,531,f4kmmq,https://i.redd.it/6ug4u79xd7h41.gif,26,1.581852e+09,
3,A Message to SPCE Call Holders,wallstreetbets,3129,f4c2ey,https://v.redd.it/drsz96xab4h41,221,1.581815e+09,
4,PSA for those missed out on SPCE,wallstreetbets,589,f4ggus,https://www.reddit.com/r/wallstreetbets/commen...,199,1.581833e+09,"It's a meme stock, it's random and it's unpred..."
...,...,...,...,...,...,...,...,...
250,Bravo you autists - Hedge funds are now buying...,wallstreetbets,110,f2xi0m,https://www.reddit.com/r/wallstreetbets/commen...,34,1.581568e+09,And you didn't even need a CFA or a 7 figure s...
251,Video of new WSB Autists and their MSFT Calls ...,wallstreetbets,8294,f2g9j3,https://v.redd.it/zvb28pr6edg41,307,1.581489e+09,
252,Algos are reaping the high premiums on MSFT calls,wallstreetbets,239,f2stfe,https://www.reddit.com/r/wallstreetbets/commen...,23,1.581550e+09,"We fucked them, and now they fuck us back.\n\n..."
253,ACB EARNINGS THREAD,wallstreetbets,69,f2yvfn,https://www.reddit.com/r/wallstreetbets/commen...,98,1.581573e+09,Is this piece of shit going to $0.80 tomorrow ...
254,My modest tendies for your viewing pleasure,wallstreetbets,251,f2sck6,https://i.redd.it/6jd0mwb4big41.jpg,27,1.581548e+09,

In [7]:
stock = 'MSFT'
count_title = 0
count_desc = 0

In [8]:
for index, row in df.iterrows():
    title = df['title'][index]
    desc = df['body'][index]
    if stock in title:
            count_title = count_title + 1
    if stock in desc:
            count_desc = count_desc + 1
  
print('Mentioned Stock: ', stock, ' | Title: ', count_title, ' | Description: ', count_desc)

Mentioned Stock:  MSFT  | Title:  19  | Description:  28

### NASDAQ Symbols

In [9]:
df_sym = pd.read_csv('csv/nasdaq.csv')
df_sym

     Symbol                                       Company Name
0      AAIT  iShares MSCI All Country Asia Information Tech...
1       AAL                        American Airlines Group Inc
2      AAME                      Atlantic American Corporation
3      AAOI                        Applied Optoelectronics Inc
4      AAON                                           AAON Inc
...     ...                                                ...
2963   ZNGA                                         Zynga Inc.
2964   ZSPH                                      ZS Pharma Inc
2965     ZU                                         zulily Inc
2966   ZUMZ                                        Zumiez Inc.
2967   SPCE               Virgin Galactic Holdings Inc Class A

[2968 rows x 2 columns]

In [20]:
for i, r in df_sym.iterrows():
    df_sym["Symbol"][i] = ' ' + df_sym["Symbol"][i] + ' '

C:\Users\danie\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [10]:
df_sym.to_pickle("pkl/df_sym.pkl")

### Final Dataframe

In [21]:
df_sym['Title'] = 0
df_sym['Description'] = 0

In [22]:
df_sym['Date'] = '16.02.2020'

In [23]:
df_sym

,Symbol,Company Name,Title,Description,Date
0,AAIT,iShares MSCI All Country Asia Information Tech...,0,0,16.02.2020
1,AAL,American Airlines Group Inc,0,0,16.02.2020
2,AAME,Atlantic American Corporation,0,0,16.02.2020
3,AAOI,Applied Optoelectronics Inc,0,0,16.02.2020
4,AAON,AAON Inc,0,0,16.02.2020
...,...,...,...,...,...
2963,ZNGA,Zynga Inc.,0,0,16.02.2020
2964,ZSPH,ZS Pharma Inc,0,0,16.02.2020
2965,ZU,zulily Inc,0,0,16.02.2020
2966,ZUMZ,Zumiez Inc.,0,0,16.02.2020
2967,SPCE,Virgin Galactic Holdings Inc Class A,0,0,16.02.2020

In [24]:
a = 0

for i,r in df_sym.iterrows():
    stock = df_sym['Symbol'][i]
    count_title = 0
    count_desc = 0
    for index, row in df.iterrows():
        title = df['title'][index]
        desc = df['body'][index]
        if stock in title:
                count_title = count_title + 1
        if stock in desc:
                count_desc = count_desc + 1
    
    df_sym['Title'][i] = count_title
    df_sym['Description'][i] = count_desc
    
    if (a == 20): 
        print(i, stock, count_title, count_desc)
        a = 0
    a = a + 1

C:\Users\danie\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
C:\Users\danie\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()

20  ABY  0 0
40  ACTS  0 0
60  ADSK  0 0
80  AFOP  0 0
100  AIRR  0 0
120  ALQA  0 0
140  AMNB  0 0
160  ANCB  0 0
180  APSA  0 0
200  ARMH  0 0
220  ASPS  0 0
240  ATOS  0 0
260  AVHI  0 0
280  BANX  0 0
300  BCPC  0 0
320  BICK  0 0
340  BLFS  0 0
360  BOFI  0 0
380  BRKL  0 0
400  BWINA  0 0
420  CADTW  0 0
440  CARZ  0 0
460  CBNJ  0 0
480  CCXI  0 0
500  CERS  0 0
520  CHCI  0 0
540  CHTR  0 0
560  CLBH  0 0
580  CMCSA  0 0
600  CNLMW  0 0
620  COMT  0 0
640  CPRT  0 0
660  CROX  0 0
680  CSPI  0 0
700  CTSO  0 0
720  CWST  0 0
740  DAEG  0 0
760  DGICB  0 0
780  DMND  0 0
800  DSKY  0 0
820  DXKW  0 0
840  ECPG  0 0
860  EGLT  0 0
880  EMIF  0 0
900  EPAX  0 0
920  ESIO  0 0
940  EVRY  0 0
960  FARO  0 0
980  FCSC  0 0
1000  FFIN  0 0
1020  FLEX  0 0
1040  FNRG  0 0
1060  FREE  0 0
1080  FSYS  0 0
1100  FWRD  0 0
1120  GBLI  0 0
1140  GGAL  0 0
1160  GLRE  0 0
1180  GOODP  0 0
1200  GSVC  0 0
1220  HART  0 0
1240  HCBK  0 0
1260  HFBL  0 0
1280  HMTV  0 0
1300  HSKA  0 0
1320  HWKN  0 0
1340  ICLDW  0 0
1360  IFV  0 0
1380  IMMY  0 0
1400  INSY  0 0
1420  IPWR  0 0
1440  ISNS  0 0
1460  JASO  0 0
1480  JRVR  0 0
1500  KEYW  0 0
1520  KRFT  0 0
1540  LAWS  0 0
1560  LFUS  0 0
1580  LLTC  0 0
1600  LOGM  0 0
1620  LSTR  0 0
1640  MAR  0 2
1660  MCBC  0 0
1680  MDVXU  0 0
1700  MFRI  0 0
1720  MIND  0 0
1740  MNOV  0 0
1760  MRCC  0 0
1780  MTBC  0 0
1800  MZOR  0 0
1820  NCTY  0 0
1840  NGHCP  0 0
1860  NSPH  0 0
1880  NVCN  0 0
1900  NXTD  0 0
1920  OFS  0 0
1940  ONTY  0 0
1960  OSIR  0 0
1980  OXLC  0 0
2000  PBMD  0 0
2020  PDEX  0 0
2040  PFBI  0 0
2060  PKT  0 0
2080  PNBK  0 0
2100  PRAN  0 0
2120  PRTS  0 0
2140  PSTI  0 0
2160  PWX  0 0
2180  QLTY  0 0
2200  QVCB  0 0
2220  RDI  0 0
2240  RFIL  0 0
2260  RMBS  0 0
2280  ROST  0 0
2300  RUTH  0 0
2320  SAMG  0 0
2340  SBSA  0 0
2360  SENEA  0 0
2380  SGRP  0 0
2400  SIFY  0 0
2420  SKYY  0 0
2440  SMMF  0 0
2460  SOCL  0 0
2480  SPKE  0 0
2500  SQNM  0 0
2520  STBZ  0 0
2540  STXS  0 0
2560  SYNC  0 0
2580  TBNK  0 0
2600  TESO  0 0
2620  TICC  0 0
2640  TOWN  0 0
2660  TRST  0 0
2680  TTHI  0 0
2700  UAE  0 0
2720  UGLD  0 0
2740  URRE  0 0
2760  VALX  0 0
2780  VIAS  0 0
2800  VNOM  0 0
2820  VRSN  0 0
2840  VTWV  0 0
2860  WDFC  0 0
2880  WIN  0 0
2900  WRLD  0 0
2920  XENE  0 0
2940  YNDX  0 0
2960  ZIXI  0 0

In [25]:
df_sym

,Symbol,Company Name,Title,Description,Date
0,AAIT,iShares MSCI All Country Asia Information Tech...,0,0,16.02.2020
1,AAL,American Airlines Group Inc,0,0,16.02.2020
2,AAME,Atlantic American Corporation,0,0,16.02.2020
3,AAOI,Applied Optoelectronics Inc,0,0,16.02.2020
4,AAON,AAON Inc,0,0,16.02.2020
...,...,...,...,...,...
2963,ZNGA,Zynga Inc.,0,0,16.02.2020
2964,ZSPH,ZS Pharma Inc,0,0,16.02.2020
2965,ZU,zulily Inc,0,0,16.02.2020
2966,ZUMZ,Zumiez Inc.,0,0,16.02.2020
2967,SPCE,Virgin Galactic Holdings Inc Class A,7,18,16.02.2020

In [26]:
df_sym.describe()

             Title  Description
count  2968.000000  2968.000000
mean      0.005391     0.024933
std       0.153505     0.502825
min       0.000000     0.000000
25%       0.000000     0.000000
50%       0.000000     0.000000
75%       0.000000     0.000000
max       7.000000    19.000000

In [27]:
df_sym.sort_values(by=['Title', 'Description'])

,Symbol,Company Name,Title,Description,Date
0,AAIT,iShares MSCI All Country Asia Information Tech...,0,0,16.02.2020
1,AAL,American Airlines Group Inc,0,0,16.02.2020
2,AAME,Atlantic American Corporation,0,0,16.02.2020
3,AAOI,Applied Optoelectronics Inc,0,0,16.02.2020
4,AAON,AAON Inc,0,0,16.02.2020
...,...,...,...,...,...
1719,MIK,The Michaels Companies Inc,1,1,16.02.2020
1881,NVDA,NVIDIA Corporation,1,2,16.02.2020
2184,QQQ,PowerShares QQQ Trust Series 1,1,2,16.02.2020
1775,MSFT,Microsoft Corporation,4,19,16.02.2020
2967,SPCE,Virgin Galactic Holdings Inc Class A,7,18,16.02.2020

In [28]:
df_sym.sort_values(by=['Title', 'Description'], ascending=False).head(60)

,Symbol,Company Name,Title,Description,Date
2967,SPCE,Virgin Galactic Holdings Inc Class A,7,18,16.02.2020
1775,MSFT,Microsoft Corporation,4,19,16.02.2020
1881,NVDA,NVIDIA Corporation,1,2,16.02.2020
2184,QQQ,PowerShares QQQ Trust Series 1,1,2,16.02.2020
134,AMD,Advanced Micro Devices Inc,1,1,16.02.2020
1719,MIK,The Michaels Companies Inc,1,1,16.02.2020
5,AAPL,Apple Inc.,1,0,16.02.2020
2670,TSLA,Tesla Motors Inc,0,4,16.02.2020
364,BOOM,Dynamic Materials Corporation,0,2,16.02.2020
481,CDC,Compass EMP U S EQ Income 100 Enhanced Volatil...,0,2,16.02.2020
817,DXCM,DexCom Inc,0,2,16.02.2020
1092,FULL,Full Circle Capital Corporation,0,2,16.02.2020
1574,LIVE,LiveDeal Inc,0,2,16.02.2020
1640,MAR,Marriott International,0,2,16.02.2020
1834,NEWS,NewStar Financial Inc,0,2,16.02.2020
274,BABY,Natus Medical Incorporated,0,1,16.02.2020
282,BBBY,Bed Bath & Beyond Inc.,0,1,16.02.2020
504,CFA,Compass EMP US 500 Volatility Weighted Index ETF,0,1,16.02.2020
872,ELSE,Electro,0,1,16.02.2020
907,ERIC,Ericsson,0,1,16.02.2020
944,EXAS,Exact Sciences Corporation,0,1,16.02.2020
995,FEYE,FireEye Inc,0,1,16.02.2020
1175,GOLD,Randgold Resources Limited,0,1,16.02.2020
1177,GOOD,Gladstone Commercial Corporation,0,1,16.02.2020
1332,IBKR,Interactive Brokers Group Inc,0,1,16.02.2020
1602,LONG,eLong Inc,0,1,16.02.2020
1818,NCLH,Norwegian Cruise Line Holdings Ltd.,0,1,16.02.2020
2645,TREE,LendingTree Inc,0,1,16.02.2020
0,AAIT,iShares MSCI All Country Asia Information Tech...,0,0,16.02.2020
1,AAL,American Airlines Group Inc,0,0,16.02.2020
2,AAME,Atlantic American Corporation,0,0,16.02.2020
3,AAOI,Applied Optoelectronics Inc,0,0,16.02.2020
4,AAON,AAON Inc,0,0,16.02.2020
6,AAVL,Avalanche Biotechnologies Inc.,0,0,16.02.2020
7,AAWW,Atlas Air Worldwide Holdings,0,0,16.02.2020
8,AAXJ,iShares MSCI All Country Asia ex Japan Index Fund,0,0,16.02.2020
9,ABAC,Aoxin Tianli Group Inc,0,0,16.02.2020
10,ABAX,ABAXIS Inc,0,0,16.02.2020
11,ABCB,Ameris Bancorp,0,0,16.02.2020
12,ABCD,Cambium Learning Group Inc,0,0,16.02.2020
13,ABCO,The Advisory Board Company,0,0,16.02.2020
14,ABCW,Anchor BanCorp Wisconsin Inc.,0,0,16.02.2020
15,ABDC,Alcentra Capital Corp.,0,0,16.02.2020
16,ABGB,Abengoa S.A.,0,0,16.02.2020
17,ABIO,ARCA biopharma Inc,0,0,16.02.2020
18,ABMD,ABIOMED Inc,0,0,16.02.2020
19,ABTL,Autobytel Inc.,0,0,16.02.2020
20,ABY,Abengoa Yield plc,0,0,16.02.2020
21,ACAD,ACADIA Pharmaceuticals Inc.,0,0,16.02.2020
22,ACAS,American Capital Ltd,0,0,16.02.2020
23,ACAT,Arctic Cat Inc.,0,0,16.02.2020
24,ACET,Aceto Corporation,0,0,16.02.2020
25,ACFC,Atlantic Coast Financial Corporation,0,0,16.02.2020
26,ACFN,Acorn Energy Inc,0,0,16.02.2020
27,ACGL,Arch Capital Group Ltd.,0,0,16.02.2020
28,ACHC,Acadia Healthcare Company Inc,0,0,16.02.2020
29,ACHN,Achillion Pharmaceuticals Inc,0,0,16.02.2020
30,ACIW,ACI Worldwide Inc,0,0,16.02.2020
31,ACLS,Axcelis Technologies Inc,0,0,16.02.2020
32,ACNB,ACNB Corporation,0,0,16.02.2020

In [29]:
df_sym.sort_values(by=['Description', 'Title'], ascending=False).head(60)

,Symbol,Company Name,Title,Description,Date
1775,MSFT,Microsoft Corporation,4,19,16.02.2020
2967,SPCE,Virgin Galactic Holdings Inc Class A,7,18,16.02.2020
2670,TSLA,Tesla Motors Inc,0,4,16.02.2020
1881,NVDA,NVIDIA Corporation,1,2,16.02.2020
2184,QQQ,PowerShares QQQ Trust Series 1,1,2,16.02.2020
364,BOOM,Dynamic Materials Corporation,0,2,16.02.2020
481,CDC,Compass EMP U S EQ Income 100 Enhanced Volatil...,0,2,16.02.2020
817,DXCM,DexCom Inc,0,2,16.02.2020
1092,FULL,Full Circle Capital Corporation,0,2,16.02.2020
1574,LIVE,LiveDeal Inc,0,2,16.02.2020
1640,MAR,Marriott International,0,2,16.02.2020
1834,NEWS,NewStar Financial Inc,0,2,16.02.2020
134,AMD,Advanced Micro Devices Inc,1,1,16.02.2020
1719,MIK,The Michaels Companies Inc,1,1,16.02.2020
274,BABY,Natus Medical Incorporated,0,1,16.02.2020
282,BBBY,Bed Bath & Beyond Inc.,0,1,16.02.2020
504,CFA,Compass EMP US 500 Volatility Weighted Index ETF,0,1,16.02.2020
872,ELSE,Electro,0,1,16.02.2020
907,ERIC,Ericsson,0,1,16.02.2020
944,EXAS,Exact Sciences Corporation,0,1,16.02.2020
995,FEYE,FireEye Inc,0,1,16.02.2020
1175,GOLD,Randgold Resources Limited,0,1,16.02.2020
1177,GOOD,Gladstone Commercial Corporation,0,1,16.02.2020
1332,IBKR,Interactive Brokers Group Inc,0,1,16.02.2020
1602,LONG,eLong Inc,0,1,16.02.2020
1818,NCLH,Norwegian Cruise Line Holdings Ltd.,0,1,16.02.2020
2645,TREE,LendingTree Inc,0,1,16.02.2020
5,AAPL,Apple Inc.,1,0,16.02.2020
0,AAIT,iShares MSCI All Country Asia Information Tech...,0,0,16.02.2020
1,AAL,American Airlines Group Inc,0,0,16.02.2020
2,AAME,Atlantic American Corporation,0,0,16.02.2020
3,AAOI,Applied Optoelectronics Inc,0,0,16.02.2020
4,AAON,AAON Inc,0,0,16.02.2020
6,AAVL,Avalanche Biotechnologies Inc.,0,0,16.02.2020
7,AAWW,Atlas Air Worldwide Holdings,0,0,16.02.2020
8,AAXJ,iShares MSCI All Country Asia ex Japan Index Fund,0,0,16.02.2020
9,ABAC,Aoxin Tianli Group Inc,0,0,16.02.2020
10,ABAX,ABAXIS Inc,0,0,16.02.2020
11,ABCB,Ameris Bancorp,0,0,16.02.2020
12,ABCD,Cambium Learning Group Inc,0,0,16.02.2020
13,ABCO,The Advisory Board Company,0,0,16.02.2020
14,ABCW,Anchor BanCorp Wisconsin Inc.,0,0,16.02.2020
15,ABDC,Alcentra Capital Corp.,0,0,16.02.2020
16,ABGB,Abengoa S.A.,0,0,16.02.2020
17,ABIO,ARCA biopharma Inc,0,0,16.02.2020
18,ABMD,ABIOMED Inc,0,0,16.02.2020
19,ABTL,Autobytel Inc.,0,0,16.02.2020
20,ABY,Abengoa Yield plc,0,0,16.02.2020
21,ACAD,ACADIA Pharmaceuticals Inc.,0,0,16.02.2020
22,ACAS,American Capital Ltd,0,0,16.02.2020
23,ACAT,Arctic Cat Inc.,0,0,16.02.2020
24,ACET,Aceto Corporation,0,0,16.02.2020
25,ACFC,Atlantic Coast Financial Corporation,0,0,16.02.2020
26,ACFN,Acorn Energy Inc,0,0,16.02.2020
27,ACGL,Arch Capital Group Ltd.,0,0,16.02.2020
28,ACHC,Acadia Healthcare Company Inc,0,0,16.02.2020
29,ACHN,Achillion Pharmaceuticals Inc,0,0,16.02.2020
30,ACIW,ACI Worldwide Inc,0,0,16.02.2020
31,ACLS,Axcelis Technologies Inc,0,0,16.02.2020
32,ACNB,ACNB Corporation,0,0,16.02.2020